.App-link {
  color: #61dafb;
}

.input-product {
  flex-direction: column;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;

  input {
    background-color: #282c34;
    border: none;
    border-radius: 5px;
    height: 24px;
    color: white;
    width: 69%;
    padding-left: 8px;
    padding-right: 8px;
  }
}